body {
    background-color: #c4dfe6;
    font-family: 'Comfortaa', cursive;
}

h1 {
    text-align: center;
    margin: 15px 0;
    color: #003b46;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
}

.btn, form {
    margin-top: 5px;
}

.tvButtons {
    background-color: white;
    color: #07575B;
    border: 2px solid #07575B;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tvButtons:hover  {
    background-color: #07575B;
    color: white;
}

#addNewShow {
    background-color: #07575B;
    color: white;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid #07575B;
}

#addNewShow:hover {
    background-color: white;
    color: #07575B;
}

.form-control {
    border-radius: 8px;
}

label {
    margin-bottom: 2px;
    color: #07575B;
    font-weight: bold;
}

#buttonDisplay {
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

img:hover {
    opacity: 75%;
}

img {
    width: auto;
    height: 150px;
    margin-right: 10px;
    margin-top: 5px;
}

#showGifsHere {
    font-size: 12px;
}
